.VerifiedModal .modal-dialog {
  top: 45%;
  transform: translateY(-50%) !important;
  text-align: center;
}

.VerifiedModal .modal-dialog .modal-content,
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.VerifiedModal .modal-dialog .modal-content .modal-body h6 {
  margin-top: 35px;
  font-weight: bold;
  font-size: 22px;
}
